.heroes {
    margin: 0 0 2rem 0;
    list-style-type: none;
    padding: 0;
    width: 15rem;
}

.heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEEEEE;
    margin: .5rem;
    padding: .3rem 0;
    height: 1.6rem;
    border-radius: 4px;
}

.nameHero {
    position: absolute;
    top: .6rem;
}

.heroes li:hover {
    color: #2C3A41;
    background-color: #E6E6E6;
    left: .1rem;
}

.heroes li.selected{
    background-color: black;
    color: white;
}

.heroes li.selected:hover {
    background-color: #505050;
    color: white;
}

.heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8rem 0.7rem 0 0.7rem;
    background-color: #405061;
    line-height: 1rem;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8rem;
    margin-right: .8rem;
    border-radius: 4px 0 0 4px;
}

input {
    padding: .5rem;
}